<!-- templates/access_logs.html -->
{% extends "logs_base.html" %}
{% block logs_content %} 
<!-- Logs Table -->
        <table class="logs-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>HTTP Host</th>
                    <th>Client IP</th>
                    <th>User Agent</th>
                    <th>Request</th>
                    <th>Status</th>
                    <th>Response Time</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr class="">
                    <td class="timestamp-cell">
                        {{ log.timestamp }}
                    </td>
                    <td class="expand-cell" style="min-width: 150px;">
                        {{ log.http_host }}
                    </td>
                    <td class="expand-cell" style="min-width: 150px;">
                        {{ log.client_ip }}
                    </td>
                    <td class="expand-cell">
                        {{ log.http_user_agent }}
                    </td>
                    <td class="expand-cell">
                        {{ log.request }}
                    </td>
                    <td class="small-cell">
                        {{ log.status }}
                    </td>
                    <td class="small-cell">
                        {{ log.upstream_response_time }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
