<!-- templates/audit_logs.html -->
{% extends "logs_base.html" %}
{% block logs_content %} 
<!-- Logs Table -->
        <table class="logs-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Rule ID</th>
                    <th>Severity</th>
                    <th>Client IP</th>
                    <th>Host</th>
                    <th>Status</th>
                    <th>User Agent</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr class="severity-{{ log.severity|lower }}">
                    <td class="timestamp-cell">
		        {{ log.timestamp }}
		    </td>
                    <td class="expand-cell">
			{{ log.rule_id }}
		    </td>
                    <td class="small-cell">
			{{ log.severity }}
		    </td>
                    <td class="expand-cell" style="min-width: 170px;">
			{{ log.client_ip }}
		    </td>
                    <td class="expand-cell">
			{{ log.request_host }}
		    </td>
                    <td class="small-cell">
			{{ log.http_code }}
		    </td>
                    <td class="expand-cell">\
			{{ log.user_agent }}
		    </td>
                    <td class="expand-cell">
			{{ log.message }}
		    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
