<!-- templates/configuration.html -->
{% extends "base.html" %}
{% block content %}
<div class="rule-block">
    <!-- ModSecurity Configuration Section -->
    <form method="post" action="{{ url_for('configuration.modsecurity_conf') }}">
        <div>
            <h3>ModSecurity Configuration (modsecurity.conf)</h3>
            <textarea class="config-area" name="modsecurity_conf" rows="20" cols="100">{{ modsecurity_conf }}</textarea><br>
            <button class="button" type="submit">Save ModSecurity Configuration</button>
        </div>
    </form>
</div>
<div class="rule-block">
    <!-- CRS Configuration Section -->
    <form method="post" action="{{ url_for('configuration.crs_conf') }}">
        <div>
            <h3>CRS Configuration (crs-setup.conf)</h3>
            <textarea class="config-area" name="crs_conf" rows="20" cols="100">{{ crs_conf }}</textarea><br>
            <button class="button" type="submit">Save CRS Configuration</button>
        </div>
    </form>
</div>
{% endblock %}
