<!-- templates/logs.html -->
{% extends "base.html" %}
{% block content %}
<div id="logs">
    <!-- Logs Filter Section -->
    <div class="filter-section">
        <form method="GET" action="{{ url_for('logs.logs') }}" class="filter-form">
	    <!-- Search Input -->
            <input type="text" name="search" placeholder="Search logs..." value="{{ search_query or '' }}">
	    <!-- Time Range Dropdown -->
            <select id="time_range" class="time-range">
		<option selected>📅Timestamp</option>
                <option value="15m">Last 15 minutes</option>
                <option value="1h">Last hour</option>
                <option value="3h">Last 3 hours</option>
                <option value="6h">Last 6 hours</option>
                <option value="1d">Last 24 hours</option>
	    </select>
	    <!-- Date-Time Range Inputs -->
	    <div class="date-range">
		<div>
                    <label for="start_time">Start Time:</label>
                    <input type="datetime-local" id="start_time" name="start_time" value="{{ request.args.get('start_time', '') }}">
		</div>
		<div>
                    <label for="end_time">End Time:</label>
                    <input type="datetime-local" id="end_time" name="end_time" value="{{ request.args.get('end_time', '') }}">
		</div>
            </div>
	    <button type="submit" class="button">Filter</button>
        </form>
    </div>

    <!-- Logs Table -->
        <table class="logs-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Rule ID</th>
                    <th>Severity</th>
                    <th>Client IP</th>
                    <th>Host</th>
                    <th>Status</th>
                    <th>User Agent</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr class="severity-{{ log.severity|lower }}">
                    <td class="timestamp-cell">
			{{ log.timestamp }}
		    </td>
                    <td class="ruleid-cell">
			{{ log.rule_id }}
		    </td>
                    <td class="severity-cell">
			{{ log.severity }}
		    </td>
                    <td class="expand-cell" style="min-width: 170px;">
			{{ log.client_ip }}
		    </td>
                    <td class="expand-cell">
			{{ log.request_host }}
		    </td>
                    <td class="http-code-cell">
			{{ log.http_code }}
		    </td>
                    <td class="expand-cell">
			{{ log.user_agent }}
		    </td>
                    <td class="expand-cell">
			{{ log.message }}
		    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	<div class="pagination">
            <button class="button" id="prev" disabled>Previous</button>
            <span id="page-info"></span>
            <button class="button" id="next">Next</button>
        </div>
</div>

<script type="text/javascript" src="static/datetime-picker.js"></script>
<script type="text/javascript" src="static/purify.min.js"></script>
<script src="{{url_for('static', filename='page-pagination.js')}}"></script>
<script src="{{url_for('static', filename='expand-msg-cell.js')}}"></script>
<script src="{{url_for('static', filename='expand-row.js')}}"></script>
<script src="{{url_for('static', filename='logs-request-separator.js')}}"></script>
{% endblock %}
